.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 990px;
}

.message__timestamp {
  color: rgb(131, 130, 130);
  font-weight: 500;
  font-size: 13px;
}

.message__info {
  padding: 10px;
}
